:root {
    --fc-border-color: none;
    --fc-daygrid-event-dot-width: 5px;
  }
  .fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 5px 30px;
  }

  /* .fc-day-today {
    background-color: rgb(160, 160, 204) !important;
    border-radius: 50%;
  } */
  .fc-today-button{
    color: black !important;
  }
  .fc-header-toolbar{
    padding-top: 10px;
  }
  .fc-button {
    background-color: transparent !important;
    border: none !important;
  }
  .fc-icon{
    color: black;
  }



