:root {
    --fc-border-color: none;
    --fc-daygrid-event-dot-width: 5px;
  }
  .fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 5px 20px;
  }

  .fc-daygrid-day-frame:hover .fc-daygrid-event-dot{
    padding: 13px !important;
    margin-bottom: 50px !important;
    margin-left: 17px !important;
    border-radius: 50%;
    position: absolute !important;
  }
  .fc-daygrid-event-dot{
    margin-left: 28px;
  }
  /* .fc-daygrid-day-number{
    margin-left: 8px;
  } */
  .fc-event-title{
   visibility: hidden;
  }
  .fc-event{
    margin-left: -19px !important;
  }
  .fc-daygrid-day-frame{
    display: grid !important;
    justify-content: center !important;
  }
 
  .fc-button{
    color: black !important;
  }
  .fc-header-toolbar{
    padding-top: 10px;
  }
  .fc-button {
    background-color: transparent !important;
    border: none !important;
  }
  .fc-icon{
    color: black;
  }

  .horraires-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 40px;
    margin-top: 40px;
    border-radius: 5px;
    background-color: #86b6e9;
    margin-left: 20px;
    margin-right: 20px;
  }
  .horraire-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .submit-btn{
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #00DCA6;
    margin-top: 20px;
  }
  .close-btn{
    cursor: pointer;
  }



