.App-header{
    background-color: #5AA7A7;
}

.nav-list{
    display: flex;
    justify-content: space-between;
}
.left-header{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    cursor: pointer;
}
.left-header-title{
    color: black;
}
.right-header{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
.right-header form{
    display: flex;
    align-items: center;
}
.user-img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 20px;
}
.search-input{
    margin-right: 10px;
    height: 25px;
    width: 160px;
    border-radius: 30px;
    border: none;
}
.search-input::placeholder{
    padding-left: 10px;
}
.search-btn{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.profile{
    cursor: pointer;
    display: flex;
}
.profile h5{
    margin-top: 10px;
}
.drop-down-btn{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 40px;
}
.dropdown-content{
    display: flex;
    flex-direction: column;
    width: 150px;
    position: absolute;
    top: 60.5px;
    right: 20px;
    border-radius:5px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
    background-color: black;
}
.dropdown-link{
    text-align:start;
    padding-left: 20px;
    text-decoration: none;
    list-style: none;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
}

.dropdown-link:hover{
    background-color: #6c757d;
}