#home{
    margin-top: 40px;
    margin-bottom: 100px;
}
.greeting{
    display: flex;
    align-items: center;
}
.greeting span{
    font-size: 40px;
    padding-left: 15%;
    padding-right: 10px;
}
.cards-container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   margin-top: 30px;
   padding: 0 90px;
   gap: 30px;
   
}
.card{
    background-color: rgba(160, 160, 146, 0.067);
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: fit-content;
    background-color: #DCEDFE;
}
.card-title{
  color: white;
}
.element-num{
  color: white;
}

.card-head{
    background-color: #0152A8;
    display: flex;
    grid-column: 1/-1;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    align-items: center;
    padding: 0 10px;
}

.calendar-card{
  width: 390px;
}

.doctor-list{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 20px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
}

.card-item{
    text-align: center;
}
.card-footer{
  margin-top: 90px;
}
.card-footer p{
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
}

.doctor-img{
    height: 80px;
    width: 80px;
    border-radius: 7px;
}

.appointment-list{
    margin-top: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1,auto);
}

.active {
    text-decoration: none !important;
}

.appointment-list li{
    display: flex;
    margin: 0 20px;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
    border: 1px solid black;
    text-decoration: line-through;
    border-radius: 8px;
}





.modalButton {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 12px 24px;
  }
  
  
  /* Modal */
  .overlay {
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  
  .modalContainer {
    max-width: 600px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
  }
  
  .modalRight {
    width: 100%;
  }
  
  .closeBtn {
    position: fixed;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    padding: 1rem 2rem;
  }
  .img_calendar{
    width: 350px;
    object-fit: cover;
  }
  
  .btnContainer {
    display: flex;
    padding: 1rem 1rem;
  }
  .btnContainer button {
    width: 100%;
    margin: .5rem;
    padding: 16px 0;
    border: 1px solid #411b57;
  }
  
  .btnPrimary {
    background-color: #411b57;
    color: white;
  }
  
  .bold {
    font-weight: 600;
  }

  .time{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
  }
