#home{
    margin-top: 40px;
    margin-bottom: 100px;
}
.greeting{
    display: flex;
    align-items: center;
}
.greeting span{
    font-size: 40px;
    padding-left: 15%;
    padding-right: 10px;
}
.cards-container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   margin-top: 30px;
   padding: 0 90px;
   gap: 30px;
   
}
.card{
    background-color: rgba(160, 160, 146, 0.067);
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: fit-content;
    background-color: #DCEDFE;
}
.card-title{
  color: white;
}
.element-num{
  color: white;
}

.card-head{
    background-color: #0152A8;
    display: flex;
    grid-column: 1/-1;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    align-items: center;
    padding: 0 10px;
}

.calendar-card{
  width: 390px;
  height: 450px;
}

.doctor-list{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 20px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
}

.card-item{
    text-align: center;
}
.card-footer{
  margin-top: 90px;
}
.card-footer p{
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
}

.doctor-img{
    height: 80px;
    width: 80px;
    border-radius: 7px;
}

.appointment-list{
    margin-top: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1,auto);
}

.active {
    text-decoration: none !important;
}

.sides{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.responsible-doctor{
  display: flex;
  align-items: center;
  gap: 10px;
}
.responsible-doctor-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.appointment-date{
  padding-left: 50px;
}

.left-side{
  float: left;
  margin-left: 20px;
}
.right-side{
  float: right;
  margin-right: 10px;
  align-items: center;
}
.trash-icon{
  color: red;
  font-size: 22px;
  cursor: pointer;
}

.not-found{
  width: 280px;
  height: 200px;
  padding-left: 40px;
  padding-bottom: 20px;
}
  
  
  