/* body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../images/img_back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

.login-container{
    margin-top: 17%;
    margin-left: 40%;
}
.login-content{
    display: flex;
    flex-direction: column;
}
.login-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}
.lock-icon{
    font-size: 40px;
}
.login-inputs form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-right: 67%;
}
.login-inp{
    height: 40px;
    width: 280px;
    border-radius: 6px;
    padding-left: 20px;
}
.login-inp::placeholder{
   padding-left: 40px;
}
.login-btn{
    width: 200px;
    height: 30px;
    border-radius: 6px;
    background-color: rgba(34, 34, 234, 0.834);
    color: white;
    cursor: pointer;
}
.signup-link{
    margin-top: 60px;
    text-decoration: underline;
    cursor: pointer;
}